code{
    font-size: 18px;
}

pre{
    margin-left: 40px;
}

/* Estilo específico para a linguagem Bash */
code.bash {
    color: rgb(255, 3, 255);
    font-weight: normal;
    background-color: black;
}

code.c{
    background-color:rgb(249, 252, 239);
}

code.sembg{
    background-color: inherit;
}