code{
    font-size: 18px;
}

pre{
    padding: auto;
    margin-left: 40px;
}

/* Estilo específico para a linguagem Bash */
code.bash {
    color: #b904b9;
    font-weight: normal;
}

code.sembg{
    background-color: inherit;
}