/* texto.css */
body, html{
    font-family: Arial, sans-serif;
    height: 100%;
    line-height: 1.5em;
}

/********************************************************* TABELA DE CONTEÚDOS À ESQUERDA *********************************************************/
#common-toc{
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 24%;
}

#toc{
    background-color: aliceblue;
    font-size: 0.9em;
    padding: 3%;
    overflow-y: auto;
    /* width: 40%; */
}

#toc ul {
    list-style: none;
    padding: 0;
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0px;
}

#toc ul ul {
    list-style-type: circle;
}

#toc ul ul ul {
    list-style-type: square;
}

#toc ul li {
    margin-bottom: 8px;
}

#toc ul li a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    display: block;
}

#toc ul li a:hover {
    text-decoration: underline;
    color: blue; /* Adiciona sublinhado quando passa o mouse */
}

/********************************************************* CONTEÚDO À DIREITA *********************************************************/
#content{
    width: 75%;
    height: 100%;
    float: right;
    margin: auto 5% auto 10%;
}

.container {
    margin-right: 10%;
    margin-left: 15%;
}

/********************************************************* TEXTO *********************************************************/
h1, h2, h3{
    color: #333;
    margin: 0px 0px 10px;
}

h1 {
    margin-top: 10px;
}

b{
    color: #0066cc;
}

p{
    text-indent: 20px;
}

p:last-of-type {
    margin-bottom: 20px;
}

figure{
    margin: 0px;
    width: 90%;
}

figcaption{
    text-align: center;
}

figcaption.arq{
    font-weight: bold;
    color: #0068cfe4;
}