/* texto.css */
body, html{
    font-family: Arial, sans-serif;
    height: 100%;
    line-height: 1.35em;
}

#toc{
    height: 0%;
    width: 25%; 
    float: left;
}

#toc ul {
    list-style: none;
    padding: 0;
}

#toc ul li {
    margin-bottom: 8px;
}

#toc ul li a {
    text-decoration: none;
    color: black; /* Cor dos links */
    font-weight: bold;
}

#content{
    width: 75%;
    height: 100%;
    float: right;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

/* Texto */
h1, h2{
    color: #333;
}

b{
    color: #0066cc;
}

p{
    text-indent: 20px;
}

figure{
    margin-left: 0px;
}

figcaption{
    text-align: center;
}

figcaption.arq{
    text-align: center;
    font-weight: bold;
    color: #0066cc;
}