/* texto.css */
body, html{
    font-family: Arial, sans-serif;
    height: 100%;
    line-height: 1.35em;
}

/********************************************************* TABELA DE CONTEÚDOSs À ESQUERDA *********************************************************/
#common-toc{
    float: left;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 24%;
    background-color: aliceblue;
}

#toc{
    font-size: 0.95em;
}

#toc ul {
    list-style: none;
    padding: 0;
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
}

#toc ul ul {
    list-style-type: circle;
}

#toc ul ul ul {
    list-style-type: square;
}

#toc ul li {
    margin-bottom: 8px;
}

#toc ul li a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    display: block;
}

#toc ul li a:hover {
    text-decoration: underline;
    color: blue; /* Adiciona sublinhado quando passa o mouse */
}

/********************************************************* CONTEÚDO À DIREITA *********************************************************/
#content{
    width: 75%;
    height: 100%;
    float: right;
}

/********************************************************* TEXTO *********************************************************/
h1, h2{
    color: #333;
}

b{
    color: #0066cc;
}

p{
    text-indent: 20px;
}

figure{
    margin: 0px;
    width: 95%;
}

figcaption{
    text-align: center;
}

figcaption.arq{
    font-weight: bold;
    color: #0066cc;
}