

.styled-table {
  border-collapse: collapse;
  margin: 15px auto 25px;
  font-size: 0.9em;
  font-family: Arial, sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  line-height: 1.3em;
}
  
.styled-table thead tr {
  background-color: #edede9;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border-right: 1.5px solid rgba(0, 0, 0, 0.1);
}

.styled-table tr:nth-of-type(2n) {
  background-color: #f5f5f5;
}

.styled-table tr:hover {
  background-color: #f0f0f0;
}

.styled-table tr:hover td {
  color: #333; 
}

.styled-table tr:hover td:hover {
  background-color: #c4c4c4; 
  transition: 0.25s;
}

#tabela {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}