
.flex-container {
    display: flex;
    height: 90vh;
    width: 100%;
}

.content {
    box-sizing: border-box;
    flex-grow: 1;
    display: inline;
    float: right;
    width: 50%;
    height: inherit;
    transition: margin-left 0.3s ease;
    padding: 0 20px;
    margin: 1% 10% 1% 40%;
}

/*************** HTML ELEMENTS ***************/

body, html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    background-color: #FFFFFF;
}

p {
    margin: 0 0 16px;
    text-indent: 30px;
}

#content p:last-of-type {
    display: inline-block;
    margin-bottom: 40px;
}

ul {
    list-style-type: disc;
}
